html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
}

img {
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;

}
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1770px;
    margin: 0 75px;
}

/* Header styles start */
.header {
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    padding-top: 14px;
    margin-bottom: 50px;
    padding-bottom: 14px;
}
.header__logo-1024{
    display: none;
}
.header__logo-768{
    display: none;
}
.header__logo-320{
    display: none;
}
.header__search{
    transition: 1s;
}
.header__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
}
.header__item{
    padding-left: 85px;
}
.header__container {
    justify-content: space-between;
    align-items: center;
}

.header__burger{
    display: none;
}
/* Header styles end */

.body{
    background-color:#E5E5E5;
}
/* Intro styles start */
.intro {
    max-width: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    border-radius: 32px;
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-1{
    background: url(../img/intro-bg-pic.jpg) no-repeat center;
}
.slide-2{
    background: url(../img/intro-bg-pic-slide-2.jpg) no-repeat center;
}
.slide-3{
    background: url(../img/intro-bg-pic-slide-3.jpg) no-repeat center;
}
.swiper-pagination{
    padding-bottom: 20px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.main__block{
    height: 620px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 5;
    gap: 0;
}
.intro__text{
    position: absolute;
    z-index: 10;
    padding-left: 80px;
    pointer-events: none;
}
.intro__title{
    padding-top: 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
    max-width: 837px;
    padding-bottom: 24px;
}
.intro__desc{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    max-width: 790px;
}
.main__intro{
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #FF9900;
    padding: 25px 39px;
    margin-top: 90px;
    border-radius: 16px;
    min-width: 280px;
    position: absolute;
    z-index: 10;
    pointer-events: all;
}
.main__intro:hover{
    background: #FFB84D;
}
.main__intro:focus{
    background: #FFB84D;
}
.main__intro:active{
    background: #E1670E;
}
/* Intro styles end */

/* about us styles start */
.about-us{
    margin-top: 50px;
}
.about__us-title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 20px;
}
.about__us-desc{
    width: 71%;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 50px;
}
.about-us__text{
    margin-bottom: 50px;
}
.about__us-work{
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 32px;
}
.about__us-pic{
    position: relative;
    width: 100%;

}
.about__us-logo-320{
    display: none;
}
.about__us-more{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    width: 100%;
    height: 196px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}
.about__us-more__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 433px;
}
.about__us-consultation{
    flex-wrap: wrap;
    max-width: 870px;
    max-width: 50%;
}
.about__us-table__text{
    padding-right: 116px;
}
.text_2{
    padding-right: 10.3%;
}
.about__us-table__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.about__us-table__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.about__us-table{
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;
    gap: 50px;
}
.about__us-more__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: 3px solid #FF9900;
    border-radius: 16px;
    padding: 20px 38px;
    max-height: 60px;
    color: #FFFFFF;
}
.about__us-logo{
    min-height: 622px;
}
.about__us-table__logo{
    padding-left: 60px;
}
/* about us styles end */

/* how work styles start */

.tabs__nav{
    justify-content: space-between;
    padding-bottom: 45px;
    
}

.tabs-nav__item{
    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin-left: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}

.tabs-nav__item.is-active {
    border-color: green;
}

.tab{
    display: none;
}

.tab.is-active{
    display: block;
}

.tabs-nav__item:first-child{
    margin-left: 0px;
}
.how__work-container{
    margin-bottom: 111px;
    justify-content: space-between;
    gap: 142px;
}
.how__work-content{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 50px;
}
.how__work-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 8px;
}
.how__work-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 758px;
}
.how__work-pic{
    margin-top: 10px;
    width: 50% ;
    max-width: 870px;
}
.tabs__content{
    justify-content: space-between;
    gap: 0;
}
.how__work-more{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #FF9900;
    padding: 20px 44px;
    margin-top: 18px;
    border-radius: 16px;
}
.how__work-contract{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 20px 41px;
    margin-left: 27px;
    margin-top: 18px;
    border: 1px solid #000000;
    border-radius: 16px;
}
/* how work styles end */

/* faq styles start */
.faq{
    margin-bottom: 100px;
}
.faq__title{
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.list__item:not(:first-child) {
    margin-top: -11px;
}

.list__item .list__item-title {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-bottom: 10px;
    align-items: center;
    border: solid 1px transparent;
    border-bottom-color: #CACACA;
    transition: border-color .5s, color .5s;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.list__item:first-child .list__item-title {
    border-top-color: #CACACA;
}

.list__item .list__item-title:hover {
    border-top-color: #FFB84D;
    border-bottom-color: #FFB84D;
    color: #FFB84D
}

.list__item-icon {
    margin-left: 20px;
    display: block;
    flex-shrink: 0;
    transition: transform .5s;
}

.list__item-icon ellipse,
.list__item-icon path {
    transition: fill .5s;
}

.list__item .list__item-title:hover .list__item-icon ellipse {
    fill: #FFB84D
}

.list__item .list__item-title:hover .list__item-icon path {
    fill: white
}

.list__item .list__item-text {
    margin: 0;
    padding: 0;
}
.list__item-text{
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.ac .ac-trigger::after {
    content: none;
}

.ac {
    margin-top: 0;
    border: none;
    background-color: transparent;
}

.is-active .list__item-icon {
    transform: rotate(45deg);
}
/* faq styles end */

/* footer styles start */
.footer{
    background-color: black;
}
.footer__content{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}
.footer__link-logo{
    padding-bottom: 20px;
}
.footer__links{
    padding-bottom: 90px;
}
.footer__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}

.footer__social-network{
    padding-left: 25px;
    color: black;
}
.footer__social-network:first-child{
    padding-left: 0;
}
.footer__application-title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
    padding-bottom: 25px;
}
.footer__application-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #FF9900;
    padding: 19px 52px;
    margin-top: 18px;
    border-radius: 16px;
}
.footer__aplication-input{
    background: #414141;
    border-radius: 16px;
    min-height: 60px;
    width: 570px;
    padding: 14px 24px;
}
.footer__aplication-input-big{
    background: #414141;
    border-radius: 16px;
    min-height: 150px;
    width: 570px;
    padding: 14px 24px;
    top: 50px;
}
.footer__info{
    padding-top: 87px;
    max-width: 363px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
.footer__form{
    flex-direction: column;
    align-items: center;
}
.footer__aplication-input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
.footer__aplication-input-big::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
/* footer styles end */
